* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #1e3c72;
  background-image: linear-gradient(to top, #2a5298 0%, #1e3c72 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}


.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fd1d1d;
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #4286f4;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #4286f4;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    font-size: 1.4rem;
    padding-left: 18px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */
.hero {
  background: #f0f8ff;
  padding: 100px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 0%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 85px;
  margin-bottom: 24px;
  color: #4286f4;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.hero__heading span{
  background: #1e3c72;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero__description {
  font-size: 40px;
  background: #1e3c72;
  background: -webkit-linear-gradient(to bottom, #4286f4, #1e3c72);
  background: linear-gradient(to bottom, #4286f4, #1e3c72);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

.highlight {
  border-bottom: 4px solid rgb(132,0,255);
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }
}

/* About Section */
.main {
  background-color: #778899;
  padding: 10rem 0; 
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s;
  -o-animation: fadein 6s;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content span {
  background-color: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #1e3c72;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.main__content h2 {
  font-size: 2rem;
  background: #1e3c72;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-bottom: 3%;
}

.main__content p {
  font-size: 25px;
  font-weight: bold;
  background-color: #1e3c72;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-bottom: 3%;
}

.main__btn {
  font-size: 1.8rem;
  background: #1e3c72;
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fd1d1d;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to left, #4286f4 0%, #1e3c72 100%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Icon Styling */
.fa-file-invoice-dollar,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #1e3c72;
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .fa-users, .fa-file-invoice-dollar {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* Services Section */
.services {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.services h1 {
  background-color: #1e3c72;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 50px;
  height: 325px;
  width: 330px;
  line-height: 1.5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to left, #4286f4 0%, #1e3c72 100%);
  transition: 0.3s ease-in;
}

.services__card:nth-child(1) {
  background: #4286f4;
  background: linear-gradient(
    to left,
    #4286f4,
    #1e3c72
  );
}

.services__card:nth-child(2) {
  background: #4286f4;
  background: linear-gradient(
    to bottom,
    #4286f4,
    #1e3c72
  );
}

.services__card:nth-child(3) {
  background: #4286f4;
  background: linear-gradient(
    to right,
    #4286f4,
    #1e3c72
  );
}

.services__card h2 {
  text-align: center;
}

.services__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fd1d1d;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.services__card:nth-child(1):hover {
  -webkit-box-shadow: -2px -1px 12px 2px #000000;
  box-shadow: -2px -1px 12px 2px #000000;
}

.services__card:nth-child(2):hover {
  -webkit-box-shadow: 0px -1px 12px 2px #000000;
  box-shadow: 0px -1px 12px 2px #000000;
}

.services__card:nth-child(3):hover {
  -webkit-box-shadow: 2px -1px 12px 2px #000000;
  box-shadow: 2px -1px 12px 2px #000000;
}

@media screen and (max-width: 1300px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}

/* Fund Library Section */
.fund {
  background: #4286f4;
  padding-top: 25px;
}

.fund__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fund__container h1 {
  font-size: 4rem;
  color: #fff;
  grid-column: 1 / span 3;
  justify-self: center;
  padding-bottom: 15px;
}

.row_user {
  grid-column: 1;
  justify-self: center;
  padding-left: 5px;
  padding-top: 2rem;
}

.label_title {
  font-size: 25px;
  padding: 0 12px 6px 0;
  color: #fff;
  font-weight: bold;
}

.label {
  font-size: 25px;
  padding: 18px 12px 6px 0;
  color: #fff;
  font-weight: bold;
}

.textbox {
  padding-left: 10px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 55%;
  padding: 6px;
  padding-left: 5px;
  border: 1px solid #4287f5;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 20px;
}

.row_button {
  grid-column: 2;
  justify-self: center;
}

.main_btn {
  color: #fff;
  font-size: 1.8rem;
  background: #1e3c72;
  padding: 20px 45px;
  border: none;
  border-radius: 4px;
  margin-top: 10rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}

.main_btn span {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.main_btn:hover span {
  padding-right: 25px;
  transition: all 0.5s ease-in-out;
}

.main_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.main_btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fd1d1d;
  transition: all 0.35s;
  border-radius: 4px;
}

.main_btn:hover {
  color: #fff;
}

.main_btn:hover:after {
  width: 100%;
}

.row_fund-frame {
  grid-column: 3;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.user-fund-name,
.fund-name {
  grid-column: 1;
  grid-row: 1;
}

.user-fund-ticker,
.fund-ticker {
  grid-column: 2;
  grid-row: 1;
}

.user-short-range,
.short-range {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.user-long-range,
.long-range {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding-top: 2rem;
}

.submitted {
  grid-column: 1 / span 2;
  grid-row: 4;
}

.user-fund-name,
.user-fund-ticker,
.user-long-range,
.user-short-range {
  color: white;
  font-weight: bold;
  font-size: 20px;
  justify-self: center;
  font-size: 30px;
}

.fund-name,
.fund-ticker {
  padding-bottom: 2rem;
}

.user-short-range,
.user-long-range {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

.fund-name,
.fund-ticker,
.short-range,
.long-range {
  padding-top: 4.25rem;
  justify-self: center;
  font-size: 28px;
}

.checkmark__circle {
  stroke-dasharray: 216;
  stroke-dashoffset: 216;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #1e3c72;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  font-weight: bold;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #fff;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 88;
  stroke-dashoffset: 88;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 72px #fd1d1d;
  }
}

/* Portfolio Library Section */
.portfolio {
  background: #1e3c72;
  padding-top: 25px;
}

.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio__container h1 {
  font-size: 4rem;
  color: #fff;
  grid-column: 1 / span 3;
  justify-self: center;
  padding-bottom: 15px;
}

.port_row_user {
  grid-column: 1;
  justify-self: center;
  padding-left: 5px;
  padding-top: 2rem;
}

.port_label_title {
  font-size: 30px;
  padding: 0 12px 6px 0;
  color: #fff;
  font-weight: bold;
}

.port_label {
  font-size: 23px;
  padding: 18px 12px 6px 0;
  color: #fff;
  font-weight: bold;
}

.portfolio_textbox {
  padding-left: 10px;
  padding-top: 10px;
  width: 225%;
}

.port_row_button {
  grid-column: 2;
  justify-self: center;
}

.port_main_btn {
  color: #fff;
  font-size: 1.8rem;
  background: #4286f4;
  padding: 20px 45px;
  border: none;
  border-radius: 4px;
  margin-top: 10rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}

.port_main_btn span {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.port_main_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.port_main_btn:hover span {
  padding-right: 25px;
  transition: all 0.5s ease-in-out;
}

.port_main_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.port_main_btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fd1d1d;
  transition: all 0.35s;
  border-radius: 4px;
}

.port_main_btn:hover {
  color: #fff;
}

.port_main_btn:hover:after {
  width: 100%;
}

.port_row_frame {
  grid-column: 3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}

.port_name,
.user_port_name {
  grid-column: 1;
  grid-row: 1;
}

.port_short_gain,
.user_short_gain {
  grid-column: 1;
  grid-row: 2;
}

.port_long_gain,
.user_long_gain {
  grid-column: 1;
  grid-row: 3;
}

.port_submitted {
  grid-column: 1;
  grid-row: 4;
}

.port_name,
.port_short_gain,
.port_long_gain {
  color: white;
  font-weight: bold;
  font-size: 30px;
  justify-self: center;
  padding-bottom: 5rem;
}

.user_port_name,
.user_short_gain,
.user_long_gain {
  font-weight: bold;
  font-size: 35px;
  justify-self: center;
  padding-top: 2.5rem;
}